<%= form_for :post, url: qrcodes_path do |f| %>
  <p>
    <%= f.label "Фамилия: " %>
    <%= f.text_field :lastname %>
 </p>
       
  <p>
    <%= f.label "Имя " %>
    <%= f.text_field :firstname %>
  </p>

  <p>
    <%= f.label "Организация " %>
    <%= f.text_field :organization %>
 </p>
  <p>
    <%= f.label "Должность " %>
    <%= f.text_field :jobtitle %>
 </p>
  <p>
    <%= f.label "E-mail: " %>
    <%= f.text_field :email %>
 </p>
  <p>
  <%= f.label "URL: "%>
    <%= f.text_field :url %>
 </p>
  <p>
    <%= f.label "Мобильный телефон: " %>
    <%= f.text_field :phone %>    
 </p>
    <%= f.label "Рабочий телефон: " %>
    <%= f.text_field :officephone %>
 </p>
                 
 <p>
  <%= f.submit %>
 </p>
<% end %>
