<%= form_for :qrdata, url: qrcodes_path do |qr| %>
  <p>
    <%= qr.label "Фамилия: " %>
    <%= qr.text_field :lastname %>
 </p>
       
  <p>
    <%= qr.label "Имя " %>
    <%= qr.text_field :firstname %>
  </p>

  <p>
    <%= qr.label "Организация " %>
    <%= qr.text_field :organization %>
 </p>
  <p>
    <%= qr.label "Должность " %>
    <%= qr.text_field :jobtitle %>
 </p>
  <p>
    <%= qr.label "E-mail: " %>
    <%= qr.text_field :email %>
 </p>
  <p>
  <%=   qr.label "URL: "%>
    <%= qr.text_field :url %>
 </p>
  <p>
    <%= qr.label "Мобильный телефон: " %>
    <%= qr.text_field :phone %>    
 </p>
    <%= qr.label "Рабочий телефон: " %>
    <%= qr.text_field :officephone %>
 </p>
                 
 <p>
  <%= qr.submit %>
 </p>
<% end %>

  <table border="1">
  <tr>
    <th>Фамилия</th>
    <th>Имя</th>
    <th>Организация</th>
    <th>Должность</th>
    <th>E-mail</th>
    <th>URL</th>
    <th>Мобильный телефон</th>
    <th>Рабочий телефон</th>
  </tr>
  <% @codes.each do |qr|  %>
  <tr>
    <td><%= qr.lastname %></td>
    <td><%= qr.firstname %></td>
    <td><%= qr.organization %></td>
    <td><%= qr.jobtitle %></td>
    <td><%= qr.email %></td>
    <td><%= qr.url %></td>
    <td><%= qr.phone %></td>
    <td><%= qr.officephone %></td>
  </tr>
<% end %>
</table>
